.Info {
  width: 17%;
  height: 50rem;

  position: relative;

  display: flex;
  flex-direction: column;

  margin: 1rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.8);
}

.NoInfo {
  width: 17%;
  height: 50rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.8);

  color: white;
  font-size: 20px;
}

.InfoTitle {
  width: 100%;
  height: 2rem;

  display: flex;
  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;

  font-size: 20px;
  border-bottom: 1px solid white;
}

.InfoDetails {
  display: flex;
  flex-direction: column;
}

.InfoIntroduction {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-bottom: 1px dashed gray;
}

.InfoName {
  width: 100%;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: left;

  font-size: 20px;
  color: white;

  background-image: linear-gradient(
    to right,
    rgb(87, 87, 87, 0),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87, 0)
  );
}

.InfoIcon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.InfoIconGlow {
  width: 110%;
  height: 110%;

  border-radius: 50%;
  position: absolute;
}

.InfoIconBorder {
  width: 100%;
  height: 100%;

  position: absolute;

  border: 1px solid white;
  transform: rotate(45deg);
}

.InfoIcon > img {
  width: 100%;
  height: 100%;
}

.InfoRarity {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;

  text-align: right;
}

.AllInfoStats {
  height: 18rem;
  display: flex;
  flex-direction: column;
}

.InfoStat {
  height: 2rem;
  display: flex;
  align-items: flex-end;

  color: white;

  border-bottom: 1px dashed gray;
}

.InfoType {
  width: 9rem;

  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.InfoType > img {
  width: 1.25rem;
  margin-right: 0.25rem;
}

.InfoValue {
  width: 51%;
  display: flex;
  justify-content: flex-end;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.InfoSlots {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  color: gray;

  margin-bottom: 0.25rem;
}

.InfoDecoration {
  width: 100%;
  height: 100%;
  position: relative;
}

.InfoEmptySlot {
  width: 100%;
  height: 100%;
}

.InfoFilledSlot {
  width: 100%;
  height: 95%;

  position: absolute;
  left: 0rem;
  top: 4px;
}

.AllInfoSkills {
  display: flex;
  flex-direction: column;
}

.InfoSkillsTitle {
  width: 100%;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: white;
  margin-top: 2rem;
  margin-bottom: 0.1rem;
  border-bottom: 1px dashed gray;

  background-image: linear-gradient(
    to right,
    rgb(87, 87, 87, 0),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87, 0)
  );
}

.InfoSkillsList {
  height: 20rem;
  overflow-y: scroll;
}

@media (max-width: 850px) {
  .Info {
    width: 90%;
    height: 30rem;
  }

  .NoInfo {
    width: 90%;
    height: 30rem;
  }

  .InfoTitle {
    width: 100%;
    height: 2.5rem;
    font-size: 16px;
    margin-top: 0rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .InfoName {
    height: 1.5rem;
    font-size: 16px;
  }

  .InfoIcon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .InfoRarity {
    font-size: 12px;
  }

  .AllInfoStats {
    height: 10rem;
    display: flex;
    flex-direction: column;
  }

  .InfoStat {
    height: 1.25rem;
    font-size: 12px;
  }

  .InfoType {
    width: 50%;
  }

  .InfoType > img {
    width: 1rem;
  }

  .InfoValue {
    width: 50%;
  }

  .InfoSlots {
    width: 1.25rem;
    height: 1.25rem;
  }

  .InfoSkillsList {
    height: 9.5rem;
  }
}
