.DefenseStatus {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}

.DefenseStatusTitle {
  width: 100%;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: white;

  background-image: linear-gradient(
    to right,
    rgb(87, 87, 87, 0),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87),
    rgb(87, 87, 87, 0)
  );
}

.AllDefenseStats {
  height: 12rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  .AllDefenseStats {
    height: 7.6rem;
  }
}
