.App {
  width: 100vw;
  height: 100vh;

  background: black;

  position: relative;
  overflow: hidden;
}

.App > img {
  width: 100%;

  position: absolute;
  opacity: 0.75;
}

.Loading {
  width: 100vw;
  height: 100vh;

  background: black;
  display: flex;
  justify-content: center;
}

.Loading > h1 {
  color: white;
  margin: 2rem;

  font-size: 28px;
  text-align: center;
}
