.App {
  width: 100vw;
  height: 100vh;

  background: black;

  position: relative;
  overflow: hidden;

  display: flex;
}

.AppContent {
  width: 100%;
  display: flex;
}

.AppInfo {
  width: 100%;
  display: flex;
}

.Loading {
  width: 100vw;
  height: 100vh;

  background: black;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Loading > h1 {
  color: white;
  margin: 2rem;

  font-size: 28px;
  text-align: center;
}

.Loading > img {
  height: 15rem;
  margin: 1rem;
}

@media (max-width: 850px) {
  .App {
    flex-direction: column;
    overflow-y: scroll;
  }

  .AppContent {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .Arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    position: absolute;
    right: 10px;
  }

  .Right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
