.Equipped {
  width: 17%;
  height: 45rem;

  position: relative;

  display: flex;
  flex-direction: column;

  margin: 1rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.8);
}

.EquippedTitle {
  width: 100%;
  height: 2rem;

  display: flex;
  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;

  font-size: 20px;
  border-bottom: 1px solid white;
}

.EquippedPiece {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.EquippedIntroduction {
  width: 100%;
  display: flex;
  align-items: center;
}

.EquippedIntroduction:hover {
  cursor: pointer;
}

.EquippedPieceName {
  height: 2rem;

  display: flex;
  align-items: center;

  font-size: 18px;
  color: white;
}

.EquippedPieceIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(100, 100, 100);
  border-radius: 3px;
}

.EquippedPieceIcon > img {
  width: 85%;
  height: 85%;
}

.EquippedSlots {
  display: flex;
  align-items: center;
  justify-content: right;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.EquippedFooter {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
}

.EquippedFooter > h1 {
  width: 75%;

  text-align: center;
  color: white;
  font-size: 18px;
}

@media (max-width: 850px) {
  .Equipped {
    width: 90%;
    height: 30rem;
  }

  .EquippedTitle {
    width: 100%;
    height: 2.5rem;
    font-size: 16px;
    margin-top: 0rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .EquippedPiece {
    margin-bottom: 0.25rem;
  }

  .EquippedPieceIcon {
    width: 2rem;
    height: 2rem;
  }

  .EquippedPieceName {
    font-size: 14px;
    height: 1rem;
  }

  .EquippedFooter {
    margin-top: 0.5rem;
  }

  .EquippedFooter > h1 {
    font-size: 13px;
  }
}
