.Smithy {
  width: 30rem;
  height: 50rem;

  position: relative;
}

.TabContainer {
  display: flex;
}

.Tab {
  width: 5rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0px 0px 5px 5px;
  background: rgba(0, 0, 0, 0.8);

  margin-left: auto;
  margin-right: auto;
}

.Tab > h2 {
  color: white;
}
