.Smithy {
  width: 30rem;
  height: 50rem;

  position: relative;
  margin: 1rem;
}

.TabContainer {
  display: flex;
}

.Tab {
  width: 5rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0px 0px 5px 5px;
  background: rgba(0, 0, 0, 0.8);

  margin-left: auto;
  margin-right: auto;
}

.Tab:hover {
  cursor: pointer;
}

.Tab > h2 {
  color: white;
}

.Selected {
  background: rgb(87, 87, 87);
}

@keyframes Sparkle10 {
  from {
    border: 3px dotted rgb(53, 122, 251);
    box-shadow: inset 0px 0px 3px rgb(53, 122, 251);
    transform: rotate(0deg);
  }
  to {
    border: 3px dotted rgb(53, 122, 251);
    box-shadow: inset 0px 0px 3px rgb(53, 122, 251);
    transform: rotate(360deg);
  }
}

.Rarity10 {
  width: 80%;
  height: 80%;

  position: absolute;
  border-radius: 50%;
}

.Rarity10:hover {
  animation: Sparkle10 4s normal linear infinite;
}

@keyframes Sparkle11 {
  from {
    border: 3px dotted rgb(255, 208, 127, 1);
    box-shadow: inset 0px 0px 5px rgb(255, 208, 127, 1);
    transform: rotate(0deg);
  }
  to {
    border: 3px dotted rgb(255, 208, 127, 1);
    box-shadow: inset 0px 0px 5px rgb(255, 208, 127, 1);
    transform: rotate(360deg);
  }
}

.Rarity11 {
  width: 80%;
  height: 80%;

  position: absolute;
  border-radius: 50%;
}

.Rarity11:hover {
  animation: Sparkle11 5s linear infinite;
}

@keyframes Sparkle12 {
  from {
    border: 3px dotted rgba(197, 239, 255, 1);
    box-shadow: 0px 0px 15px rgba(197, 239, 255, 1);
    transform: rotate(0deg);
  }
  to {
    border: 3px dotted rgba(197, 239, 255, 1);
    box-shadow: 0px 0px 15px rgba(197, 239, 255, 1);
    transform: rotate(360deg);
  }
}

.Rarity12 {
  width: 70%;
  height: 70%;

  position: absolute;
  border-radius: 50%;
}

.Rarity12:hover {
  animation: Sparkle12 6s linear infinite;
}
